
.otherInputWrapper {
    position: relative;
    display: block;
}
.otherInputWrapper label{
    color: #B0BAC9;
    font-family: 'Montserrat-bold',sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    padding-bottom: 4px;
    text-transform: uppercase;
    display: block;
    margin: 0;
}
.otherInputWrapper input {
    display: inline-block;
    border-radius: 5px;
    position: relative;
    color: #BFC5D2;
    background: #F4F6FC;
    border: 1px solid #BFC5D2;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
.otherInputWrapper input:focus{
    outline: none;
    border: 1px solid #69707F;
    color:#69707F;
}
.otherInputWrapper input::placeholder{
    color: #BFC5D2;
    font-family: inherit;
    font-weight: inherit;
}
.otherInputWrapper input::-moz-placeholder{
    line-height: 40px;
}

.disabled{
    position: relative;
    display: block;
}
.disabled label{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    text-transform: uppercase;
    color: #B0BAC9;
    margin: 0;
}
.disabled input{
    display: inline-block;
    position: relative;
    color: #BFC5D2;
    overflow: hidden;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;

    background: #DADADA;
    border: 1px solid #BFC5D2;
    box-sizing: border-box;
    border-radius: 5px;
}
.disabled input::-webkit-input-placeholder,
.disabled input::-moz-placeholder,
.disabled input::-ms-input-placeholder,
.disabled input::placeholder{
    font-family: 'SF Pro Display',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BFC5D2;
    background: #dadada;
}


.danger{
    position: relative;
    display: block;
}
.danger label{
    color: #B0BAC9;
    font-family: 'Montserrat-bold',sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.125px;
    padding-bottom: 4px;
    text-transform: uppercase;
    display: block;
    margin: 0;
}
.danger input {
    display: inline-block;
    border-radius: 5px;
    position: relative;
    color: #BFC5D2;
    background: #F4F6FC;
    border: 1px solid #D63649;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}
.danger input:focus{
    outline: none;
    border: 1px solid #69707F;
    color:#69707F;
}
.danger input::placeholder{
    color: #BFC5D2;
    font-family: inherit;
    font-weight: inherit;
}
.danger input::-moz-placeholder{
    line-height: 40px;
}