@import '../../styles/variables';

.wrapper{
  .title {
    @extend %h1;
    grid-column: 1/13;
    padding-left: 16px;
    color: $BLACK;
  }

  .form_wrapper {
    grid-column: 1/13;
    display: grid;
    padding: 40px 16px;
    grid-gap: 40px;
    grid-template-columns: inherit;
    background: $WHITE;
    margin: 0 -16px;
    &__item {
      display: grid;
      grid-gap: 16px;
      grid-column: 3/11;

      .warning_text{
        @extend %small_text;
        color: $not_red;
      }
    }

    &__send {
      grid-column: 5/9;
    }
  }
  @media screen and (min-width: 1440px) {
    & {
      align-self: center;
      grid-column: 4/10;

      .form_wrapper {
        margin: 0;
        padding: 40px 0;
      }
    }
  }

}